{<<"links">>,
 [{<<"GitHub">>,<<"https://github.com/nshkrdotcom/elixir_ai_research">>},
  {<<"Online documentation">>,<<"https://hexdocs.pm/research_harness">>}]}.
{<<"name">>,<<"research_harness">>}.
{<<"version">>,<<"0.1.0">>}.
{<<"description">>,
 <<"Experimental research framework for running AI benchmarks at scale. Provides orchestration, streaming processing with Flow/GenStage, and statistical analysis.">>}.
{<<"elixir">>,<<"~> 1.17">>}.
{<<"app">>,<<"research_harness">>}.
{<<"files">>,
 [<<"lib">>,<<"lib/research_harness">>,<<"lib/research_harness/utilities">>,
  <<"lib/research_harness/utilities/checkpoint_manager.ex">>,
  <<"lib/research_harness/utilities/time_estimator.ex">>,
  <<"lib/research_harness/utilities/cost_estimator.ex">>,
  <<"lib/research_harness/reporter.ex">>,
  <<"lib/research_harness/experiment.ex">>,
  <<"lib/research_harness/collector">>,
  <<"lib/research_harness/collector/comparison_matrix.ex">>,
  <<"lib/research_harness/collector/statistical_analyzer.ex">>,
  <<"lib/research_harness/collector/metrics_aggregator.ex">>,
  <<"lib/research_harness/application.ex">>,
  <<"lib/research_harness/runner.ex">>,<<"lib/research_harness/runner">>,
  <<"lib/research_harness/runner/progress_tracker.ex">>,
  <<"lib/research_harness/runner/rate_limiter.ex">>,
  <<"lib/research_harness/reporter">>,
  <<"lib/research_harness/reporter/html_generator.ex">>,
  <<"lib/research_harness/reporter/latex_generator.ex">>,
  <<"lib/research_harness/reporter/markdown_generator.ex">>,
  <<"lib/research_harness/reporter/jupyter_generator.ex">>,
  <<"lib/research_harness/experiment">>,
  <<"lib/research_harness/experiment/validator.ex">>,
  <<"lib/research_harness.ex">>,<<"mix.exs">>,<<"README.md">>,<<"LICENSE">>]}.
{<<"licenses">>,[<<"MIT">>]}.
{<<"requirements">>,
 [[{<<"name">>,<<"gen_stage">>},
   {<<"app">>,<<"gen_stage">>},
   {<<"optional">>,false},
   {<<"requirement">>,<<"~> 1.2">>},
   {<<"repository">>,<<"hexpm">>}],
  [{<<"name">>,<<"flow">>},
   {<<"app">>,<<"flow">>},
   {<<"optional">>,false},
   {<<"requirement">>,<<"~> 1.2">>},
   {<<"repository">>,<<"hexpm">>}],
  [{<<"name">>,<<"jason">>},
   {<<"app">>,<<"jason">>},
   {<<"optional">>,false},
   {<<"requirement">>,<<"~> 1.4">>},
   {<<"repository">>,<<"hexpm">>}],
  [{<<"name">>,<<"nimble_csv">>},
   {<<"app">>,<<"nimble_csv">>},
   {<<"optional">>,false},
   {<<"requirement">>,<<"~> 1.2">>},
   {<<"repository">>,<<"hexpm">>}],
  [{<<"name">>,<<"statistex">>},
   {<<"app">>,<<"statistex">>},
   {<<"optional">>,false},
   {<<"requirement">>,<<"~> 1.0">>},
   {<<"repository">>,<<"hexpm">>}],
  [{<<"name">>,<<"telemetry">>},
   {<<"app">>,<<"telemetry">>},
   {<<"optional">>,false},
   {<<"requirement">>,<<"~> 1.2">>},
   {<<"repository">>,<<"hexpm">>}]]}.
{<<"build_tools">>,[<<"mix">>]}.
